main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .bar-section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 ;
        p{
            font-size: 3vmin;
        }
        img{
            width: 40px;
        }
    }
}

@import "Hp-section1";
@import "Hp-section2";
@import "Hp-section3";
