.inxbox-main{
    .inbox-box{
        width: 1200px;
        display: flex;
        .inbox-left{
            width: 30%;
            border: 1px solid black;
            overflow: auto;
            .inbox-left-title{
                font-size: 3vmin;
                background: grey;
                padding: 5px;
            }
            .inbox-left-list{
                height: 75vh;
                background: rgb(196, 196, 228);
                overflow:auto;

            }
        }
        .inbox-right{
            width: 70%;
            border: 1px solid black;
            .inbox-right-title{
                font-size: 3vmin;
                background: grey;
                padding: 5px;
                
            }
            .inbox-right-conetent{
                width: 100%;
                height: 70vh;
                background: rgb(221, 244, 221);
                overflow: auto;

                // background: pink;
                .receive-box{
                    display: flex;
                    padding: 5px;
                    .receive-content{
                        font-size: 2vmin;
                        background: rgb(215, 185, 185);
                        padding: 10px;
                        border-radius: 10px;
                    }
                    .receive-blank{
                        flex-grow: 1;
                    }

                }
                .send-box{
                    padding: 5px;
                   display: flex;
                   
                   .send-content{
                    font-size: 2vmin;
                    background: rgb(206, 206, 206);
                    padding: 10px;
                    border-radius: 10px;
                    }
                    .send-blank{
                    flex-grow: 1;
                    }
                }

            }
            .inbox-reply-box{
                width: 100%;
                font-size: 2vmin;
                display: flex;
                align-items: center;
                textarea{
                    width: 90%;
                    padding: 10px;
                    resize: none;
                }
                button{
                    width: 10%;
                    padding: 10px;
                }
            }
            
        }
    }
}