@import "variable"; 

.inxbox-main{
    .inbox-box{
        @extend %elementBasicStyle;
        width: 1200px;
        display: flex;
        margin: 50px 0;
        // border-radius: 20px;
        // box-shadow:-5px -5px 10px rgb(255, 255, 255),
        // inset 10px 8px 8px -15px rgba(255, 255, 255, 0.764); 
        // -webkit-filter: drop-shadow(1px 3px 3px rgba(145, 145, 145, 0.3));
        // filter: drop-shadow(1px 3px 3px rgba(135, 135, 135, 0.3));
        // background: #F2F2F0;
        .inbox-left{
            width: 30%;
            border-radius: 20px 0 0 20px;
            position: relative;
            .inbox-left-list-open-control{
                position: absolute;
                padding: 10px 0;
                right: 0px;
                top: 50%;
                transform: translateX(100%);
                background: var(--background);
                // border-right:1px solid var(--standardGrey) ;
                // -webkit-filter: drop-shadow(1px 3px 3px rgba(145, 145, 145, 0.51));
                // filter: drop-shadow(1px 3px 3px rgba(135, 135, 135, 0.508));
                display: none;
            }
            .open-control-hide{
                display: none;
            }

            .inbox-left-title{
                font-size: 3vmin;
                font-weight: 700;
                text-align: center;
                padding: 5px;
            }
            .inbox-left-list{
                height: 75vh;
                overflow:auto;
                box-shadow:
                inset 0px 10px 10px -15px rgba(135, 135, 135, 0.764);
                display: flex;
                flex-direction: column;
                a{
                    
                    p{
                        padding: 30px 10px;
                        background:var(--background) ;
                        -webkit-filter: drop-shadow(1px 3px 3px rgba(145, 145, 145, 0.51));
                        filter: drop-shadow(1px 3px 3px rgba(135, 135, 135, 0.508));
                    }
                    .msgUnread{
                        font-weight: 700;
                    }
                }
                .msgSelect{
                    border-left: 2px solid var(--standardYellow);
                    background: #f6d393;
                }
                .msgList-default{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 40%;
                        aspect-ratio: 1/1;
                        opacity:0.5;
                    }
                    p{
                        font-size: 2.5vmin;
                        font-weight: 700;
                        color: rgba(60, 59, 59, 0.6);
                    }
                }
                
            }
        }
        .inbox-right{
            width: 70%;
            border-radius: 0 20px 20px 0;
            .inbox-right-title{
                font-size: 3vmin;
                font-weight: 700;
                padding: 5px;
                text-align: center;   
            }
            .inbox-right-conetent{
                width: 100%;
                height: 70vh;
                background: #F2F2F0;
                overflow: auto;
                box-shadow:
                inset 10px 10px 10px -15px rgba(135, 135, 135, 0.764);

                .receive-box{
                    display: flex;
                    padding: 5px;
                    .receive-content{
                        font-size: 2vmin;
                        background: rgba(255, 255, 255, 0.9);
                        padding: 10px;
                        border-radius: 10px 10px 10px 0;
                        max-width: 70%;
                    }
                    .receive-blank{
                        flex-grow: 1;
                    }

                }
                .send-box{
                    padding: 5px;
                    display: flex;
                   
                   .send-content{
                    font-size: 2vmin;
                    background: var(--decoYellow);
                    padding: 10px;
                    border-radius: 10px 10px 0 10px;
                    max-width: 70%;
                    }
                    .send-blank{
                    flex-grow: 1;
                    }
                }
                .defaultMsg-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    img{
                        width: 15%;
                        aspect-ratio: 1/1;
                        opacity:0.5;
                    }
                    p{
                        font-size: 2.5vmin;
                        font-weight: 700;
                        color: rgba(60, 59, 59, 0.6);
                    }
                }

            }
            .inbox-reply-box{
                width: 100%;
                font-size: 2vmin;
                display: flex;
                align-items: center;
                justify-content: center;
                
                textarea{
                    margin: 10px 0 ;
                    width: 80%;
                    padding: 10px;
                    resize: none;
                    border-radius: 20px 0 0 20px;
                    border-style: none;
                    &:focus{
                        outline: none;
                    }
                    
                }
              
                button{
                    width: 15%;
                    padding: 10px;
                    border-radius: 0 20px 20px 0;
                    border-style: none;
                    background: var(--standardWhite);
                    color: var(--standardGrey);
                    cursor: pointer;
                }
            }
            
        }
    }
}


@media screen and (max-width:1199px) {
    .inxbox-main{
        .inbox-box{
            width: 90%;
        }
    }
    
}




@media screen and (max-width:500px) {
    .inxbox-main{
        .inbox-box{
            width: 90%;
            display: flex;
            margin: 50px 0;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            .inbox-left{
                position: absolute;
                left: -50%;
                width: 50%;
                height: 100%;
                background: var(--background);
                z-index: 10;
                border-radius: 20px 0 0 20px;
                border-right: 1px solid var(--standardWhite);
                // -webkit-filter: drop-shadow(1px 3px 3px rgba(145, 145, 145, 0.51));
                // filter: drop-shadow(1px 3px 3px rgba(135, 135, 135, 0.508));
                transition: 0.5s;
                .inbox-left-list-open-control{
                    position: absolute;
                    padding: 10px 0;
                    right: 0px;
                    top: 50%;
                    transform: translateX(100%);
                    background: var(--background);
                    display: block;
                }

     
            }
            .inbox-left-showup{
                left: 0;
                transition: 0.5s;
                    
            }
            .inbox-right{
                width: 100%;
            }
        }
    }
    
}

