@import "variable";

.memberlist-main{
    .memberlist-search{
        width: 100%;
        padding: 150px 0;
        background: url("../picture/searchbanner.png") var(--background);
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 80% ;
        -webkit-filter: drop-shadow(1px 3px 3px rgba(187, 187, 187, 0.51));
        filter: drop-shadow(1px 3px 3px rgba(174, 174, 174, 0.508));
        p{
            font-size: 5vmin;
            font-weight: 700;
            text-align: center;
        }
    }
    .memberlist-box{
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0 ;
        
        
        .memberlist-card{
            @extend %elementBasicStyle;
            width: 47%;
            margin:20px 1.5%;
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            background: var(--background);
            .memberlist-card-headshot{
                width:35%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                margin: auto;
                overflow: hidden;
                img{
                    @extend %imageStyle;
                }
            }
            .memberlist-card-content{
                width: 60%;
                p{
                    padding:  5px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    width: 100%;
                    text-overflow:ellipsis;
                    word-wrap:break-word;
                    font-weight: 700;
                    color:var(--standardGrey)
                }
                .memberlist-card-name{
                    font-size: 2.5vmin;
                }
                .memberlist-card-title,.memberlist-card-welcome{
                    font-size:2vmin;
                }
                .memberlist-card-tag-box{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .memberlist-card-tag{
                        background: var(--standardYellow);
                        border-radius: 15px;
                        margin: 0 5px 5px 0;
                        p{
                            color: var(--standardWhite);
                            font-size: 2vmin;
                        }
                    }
                }

            }
            
        }
    }
}

@media screen and (max-width:1199px){
    .memberlist-main{
        .memberlist-search{
            width: 100%;
            background-size: 30%;
            background-position: right;
        }
        .memberlist-box{
            width: 100%;
            
            .memberlist-card{
                width: 47%;
                margin:20px 1.5%;
                
            }
        }
    }
    
}

@media screen and (max-width:850px){
    .memberlist-main{
        .memberlist-search{
            width: 100%;
            padding: 130px 0;
            background-size: 40%;
            background-repeat: no-repeat;
        }
        .memberlist-box{            
            .memberlist-card{
                width: 45%;
                margin:20px 2.5% 25px 2.5%;
                padding: 20px 10px;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
                .memberlist-card-headshot{
                    width:40%;

                }
                .memberlist-card-content{
                    width: 85%;
                    margin: 10px 0;
                    border-left: 2px solid var(--standardYellow);
                    padding-left: 30px;
    
                }
                
            }
        }
    }
    
}


@media screen and (max-width:550px){
    .memberlist-main{
        .memberlist-search{
            width: 100%;
            background-size: 40%;
        }
        .memberlist-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            margin: 50px 0 ;
            
            .memberlist-card{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .memberlist-card-headshot{
                    width:37%;
                    aspect-ratio: 1/1;
                    border-radius:  50%;
                    margin: auto;
                    overflow: hidden;
                }
                .memberlist-card-content{
                    width: 60%;
                    margin: 10px 0;
                    border-style: none;
                    padding-left: 10px;
                    .memberlist-card-name{
                        font-size: 3vmin;
                    }
                    .memberlist-card-title,.memberlist-card-welcome{
                        font-size:2.5vmin;
                    }

    
                }
                
            }
        }
    }
    
}
