@import "variable";


.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--decoGreen);
    background: var(--background);
    nav{
        width: 1200px;
        display: flex;
        align-items: center;
        .logo{
            text-decoration: none;
            width: 50%;
            color: var(--standardWhite);
        }
        .menu{
            display: flex;
            list-style: none;
            width:50%;
            justify-content: flex-end;
            align-items: center;
            padding:10px;
            
            li{
                margin:10px;
                position: relative;
                a{
                    
                    img{
                        @extend %shadowStyle;
                        width: 40px;
                        border-radius: 10px;
                        background: var(--background);
                        &:hover{
                            @extend %buttonHoverStyle;
                        }
                        
                    }
                    
                }
                
                .menu-notification{
                    color: var(--decoOrange);
                    background: var(--standardWhite);
                    border-radius: 10px;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
                .menu-notification-hide{
                    display: none;
                }
                .signout{
                    @extend %shadowStyle;
                    background: var(--background);
                    width: 40px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover{
                        @extend %buttonHoverStyle;
                    }
                }
                .signout-hide{
                    display: none;
                }
               
            }
            .inbox-notification{
                position: relative;
            }
          
            .member-list{
                @extend %shadowStyle;
                border-radius: 15px;
                padding: 5px 10px;
                background: var(--background);
                a{
                    font-size: 2.5vmin;
                    font-weight: 900;
                    color: var(--decoOrange);

                }
                &:hover{
                    @extend %buttonHoverStyle;
                }
            }
        }
        
    }
}

@media screen and (max-width:1199px){
    .nav-container{
        nav{
            width:95%;
            .logo{
                width: 40%;
            }
            .menu{
                width:60%;
             
            }
            
        }
    }
    
}

@media screen and (max-width:819px){
    .nav-container{
        nav{
            .logo{
                width: 40%;
                img{
                    width: 90%;
                }
            }
            .menu{
                width:60%;
         
            }
            
        }
    }
    
}