.signin-main{
    .signup{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(200, 200, 200);
        padding: 40px;
        margin-top: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
        
     
        .signup-title{
            font-size: 4vmin;
            font-weight: 700;
            padding: 10px 0 ;
        }
        label{
            width: 100%;
            padding: 10px 0;
            p{
                font-size: 2.5vmin;
            }
            input{
                font-size: 2.5vmin;
                padding: 10px;
                width:100%;
                color: white;
                border-style: none;
                background-color: rgb(200, 200, 200);
                border-bottom: 1px solid white;
            }
            input:focus{
                outline: none;
            }
        }
        .signup-btn{
            width: 100%;
            background: black;
            color: white;
            padding: 10px;
            font-size: 2.5vmin;
            margin: 10px;
        }
        .signup-change{
            font-size: 2.5vmin;
        }
    }
    .signup-hide{
        display: none;
    }
//登入表單
    .signin{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(200, 200, 200);
        padding: 40px;
        margin-top: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
        .signin-title{
            font-size: 4vmin;
            font-weight: 700;
            padding: 10px 0 ;

        }
        label{
            width: 100%;
            padding: 10px 0;
            p{
                font-size: 2.5vmin;
            }
            input{
                font-size: 2.5vmin;
                padding: 10px;
                width:100%;
                color: white;
                border-style: none;
                background-color: rgb(200, 200, 200);
                border-bottom: 1px solid white;
            }
            input:focus{
                outline: none;
            }

        }
        .signin-btn{
            width: 100%;
            background: black;
            color: white;
            padding: 10px;
            font-size: 2.5vmin;
            margin: 10px;

        }
        .signin-change{
            font-size: 2.5vmin;

        }
    }
    .signin-hide{
        display: none;
    }
}


                // <div className="signin-logo-container">
                //     <img src={logo}></img>
                // </div>
                // <label for="signin-username">
                //     <p>使用者名稱</p>
                //     <input type="text" id="username"></input>
                // </label>
                // <label for="signin-email">
                //     <p>註冊信箱</p>
                //     <input type="text" id="signin-email"></input>
                // </label>
                // <label for="signin-password">
                //     <p>註冊密碼</p>
                //     <input type="password" id="signin-password" className="psw1" ></input>
                // </label>
                // <label for="signin-checkpsw">
                //     <p>再次確認</p>
                //     <input type="password" id="signin-checkpsw" className="psw2"></input>
                // </label>
