*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}




@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;900&family=Signika+Negative:wght@300;400;500&display=swap');
@import "./Nav";
@import "./Homepage";
@import "Signup";
@import "Personal";
@import "Membership";
@import "Ask";
@import "Thankyou";
@import "Inbox";