/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/index.css ***!
  \************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
