/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/index.css ***!
  \************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;900&family=Signika+Negative:wght@300;400;500&display=swap);
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/index.css (1) ***!
  \****************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
}

.nav-container nav {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container nav .logo {
  text-decoration: none;
  width: 50%;
  color: white;
  padding: 10px;
}

.nav-container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.nav-container nav .menu li {
  margin: 10px;
}

.nav-container nav .menu li a {
  font-size: 3vmin;
  font-weight: 900;
  color: white;
}

.nav-container nav .menu li a img {
  width: 40px;
  border-radius: 50%;
  border: 1.5px solid white;
}

.nav-container nav .menu .member-list {
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 10px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bar-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

main .bar-section1 p {
  font-size: 3vmin;
}

main .bar-section1 img {
  width: 40px;
}

.hp-1 {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100vh;
}

.hp-1 .hp-1-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-1 .hp-1-left .slogan {
  font-size: 10vmin;
  font-weight: 900;
  margin-left: 50px;
}

.hp-1 .hp-1-left .hp-1-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.hp-1 .hp-1-left .hp-1-button-container a {
  font-size: 3vmin;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: 700;
  margin: 10px;
}

.hp-1 .hp-1-right {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hp-1 .hp-1-right .circle-container {
  position: relative;
  right: 10px;
  width: 100%;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hp-1 .hp-1-right .circle-container .circle {
  margin: 5px;
  width: 30%;
  height: 30%;
  background: black;
  border-radius: 50%;
}

.hp-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
}

.hp-2 .hp-2-title {
  text-align: center;
  padding: 50px 0;
}

.hp-2 .hp-2-title p {
  font-size: 5vmin;
}

.hp-2 .hp-2-users {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-2 .hp-2-users .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background: black;
  margin: 0 10px;
  padding: 10px 0px;
}

.hp-2 .hp-2-users .user p {
  color: white;
  font-size: 3vmin;
  text-align: center;
}

.hp-2 .hp-2-users .user img {
  color: white;
  height: 50vh;
}

.hp-2 .hp-2-last-title {
  font-size: 5vmin;
  padding: 50px 0;
}

.hp-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.hp-3 .hp-3-title {
  font-size: 5vmin;
  padding: 50px 0;
}

.hp-3 .hp-3-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}

.hp-3 .hp-3-CTA .hp-3-CTA-text {
  font-size: 3vmin;
  color: white;
  padding: 0 10px;
}

.hp-3 .hp-3-CTA .hp-3-CTA-btn {
  font-size: 3vmin;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
}

.signin-main .signup {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8c8c8;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.signin-main .signup .signup-title {
  font-size: 4vmin;
  font-weight: 700;
  padding: 10px 0;
}

.signin-main .signup label {
  width: 100%;
  padding: 10px 0;
}

.signin-main .signup label p {
  font-size: 2.5vmin;
}

.signin-main .signup label input {
  font-size: 2.5vmin;
  padding: 10px;
  width: 100%;
  color: white;
  border-style: none;
  background-color: #c8c8c8;
  border-bottom: 1px solid white;
}

.signin-main .signup label input:focus {
  outline: none;
}

.signin-main .signup .signup-btn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 2.5vmin;
  margin: 10px;
}

.signin-main .signup .signup-change {
  font-size: 2.5vmin;
}

.signin-main .signup-hide {
  display: none;
}

.signin-main .signin {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8c8c8;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.signin-main .signin .signin-title {
  font-size: 4vmin;
  font-weight: 700;
  padding: 10px 0;
}

.signin-main .signin label {
  width: 100%;
  padding: 10px 0;
}

.signin-main .signin label p {
  font-size: 2.5vmin;
}

.signin-main .signin label input {
  font-size: 2.5vmin;
  padding: 10px;
  width: 100%;
  color: white;
  border-style: none;
  background-color: #c8c8c8;
  border-bottom: 1px solid white;
}

.signin-main .signin label input:focus {
  outline: none;
}

.signin-main .signin .signin-btn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 2.5vmin;
  margin: 10px;
}

.signin-main .signin .signin-change {
  font-size: 2.5vmin;
}

.signin-main .signin-hide {
  display: none;
}

.personal-info-main form {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d5d5d5;
}

.personal-info-main form .personal-photo-name {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.personal-info-main form .personal-photo-name .personal-img-upload {
  width: 30%;
  position: relative;
}

.personal-info-main form .personal-photo-name .personal-img-upload img {
  background: grey;
  width: 100%;
  aspect-ratio: 1/1;
}

.personal-info-main form .personal-photo-name .personal-img-upload label {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  padding: 5px;
  background: white;
  border: 1px solid black;
}

.personal-info-main form .personal-photo-name .personal-img-upload label input {
  display: none;
}

.personal-info-main form .personal-photo-name .personal-name-info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.personal-info-main form .personal-photo-name .personal-name-info label {
  padding: 5px;
}

.personal-info-main form .personal-photo-name .personal-name-info label input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.personal-info-main form .personal-outlink {
  border: 1px solid black;
  width: 80%;
}

.personal-info-main form .personal-outlink div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.personal-info-main form .personal-outlink div img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.personal-info-main form .personal-outlink div input {
  width: 100%;
  padding: 10px;
}

.personal-info-main form .personal-intro {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}

.personal-info-main form .personal-intro textarea {
  width: 100%;
  aspect-ratio: 4/1;
  resize: none;
  padding: 10px;
}

.personal-info-main form .personal-keyword {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}

.personal-info-main form .personal-keyword .tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info-main form .personal-keyword .tags-box .tag {
  background: gray;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

.personal-info-main form .personal-keyword .tags-box .tag .tag-delete {
  background: #dedede;
  color: black;
  font-size: small;
  width: 20px;
  aspect-ratio: 1/1;
  padding: 2px;
  margin: 2px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.personal-info-main form .personal-keyword .tags-box input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  border-style: none;
}

.personal-info-main form .personal-share-theme {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
}

.personal-info-main form .personal-share-theme .share-theme-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme {
  width: 33%;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme .share-title-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme .share-title-box p {
  background: grey;
  padding: 10px;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme .share-title-box input {
  width: 100%;
  padding: 10px;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme textarea {
  width: 100%;
  aspect-ratio: 2/1;
  padding: 10px;
  resize: none;
  margin: 10px 0;
}

.personal-info-main form .personal-share-theme .share-theme-box .personal-share2 {
  margin: 0 20px;
}

.personal-info-main form .personal-project {
  border: 1px solid black;
  width: 80%;
  padding: 10px;
}

.personal-info-main form .personal-project .project {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.personal-info-main form .personal-project .project .image-type-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload {
  width: 30%;
  aspect-ratio: 3/2;
  position: relative;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload img {
  height: 100%;
  width: 100%;
  background: white;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  cursor: point;
  border: 1px solid black;
  background: #dddddd;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload label input {
  display: none;
}

.personal-info-main form .personal-project .project .image-type-box .type-discript-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 0 0 0 10px;
}

.personal-info-main form .personal-project .project .image-type-box .type-discript-box select {
  padding: 10px;
  width: 100%;
}

.personal-info-main form .personal-project .project .image-type-box .type-discript-box textarea {
  padding: 10px;
  margin: 10px 0;
  resize: none;
  height: 100%;
}

.personal-info-main form .personal-project .project .project-link {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
