/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/index.css ***!
  \************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;900&family=Signika+Negative:wght@300;400;500&display=swap);
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/index.css (1) ***!
  \****************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
}

.nav-container nav {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container nav .logo {
  text-decoration: none;
  width: 50%;
  color: white;
  padding: 10px;
}

.nav-container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.nav-container nav .menu li {
  margin: 10px;
}

.nav-container nav .menu li a {
  font-size: 3vmin;
  font-weight: 900;
  color: white;
}

.nav-container nav .menu li a img {
  width: 40px;
  border-radius: 50%;
  border: 1.5px solid white;
}

.nav-container nav .menu li .menu-notification {
  color: white;
}

.nav-container nav .menu li .signout {
  width: 40px;
  border-radius: 50%;
  border: 1.5px solid white;
}

.nav-container nav .menu li .signout-hide {
  display: none;
}

.nav-container nav .menu .member-list {
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 10px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bar-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

main .bar-section1 p {
  font-size: 3vmin;
}

main .bar-section1 img {
  width: 40px;
}

.hp-1 {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100vh;
}

.hp-1 .hp-1-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-1 .hp-1-left .slogan {
  font-size: 10vmin;
  font-weight: 900;
  margin-left: 50px;
}

.hp-1 .hp-1-left .hp-1-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.hp-1 .hp-1-left .hp-1-button-container a {
  font-size: 3vmin;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: 700;
  margin: 10px;
}

.hp-1 .hp-1-right {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hp-1 .hp-1-right .circle-container {
  position: relative;
  right: 10px;
  width: 100%;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hp-1 .hp-1-right .circle-container .circle {
  margin: 5px;
  width: 30%;
  height: 30%;
  background: black;
  border-radius: 50%;
}

.hp-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
}

.hp-2 .hp-2-title {
  text-align: center;
  padding: 50px 0;
}

.hp-2 .hp-2-title p {
  font-size: 5vmin;
}

.hp-2 .hp-2-users {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-2 .hp-2-users .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background: black;
  margin: 0 10px;
  padding: 10px 0px;
}

.hp-2 .hp-2-users .user p {
  color: white;
  font-size: 3vmin;
  text-align: center;
}

.hp-2 .hp-2-users .user img {
  color: white;
  height: 50vh;
}

.hp-2 .hp-2-last-title {
  font-size: 5vmin;
  padding: 50px 0;
}

.hp-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.hp-3 .hp-3-title {
  font-size: 5vmin;
  padding: 50px 0;
}

.hp-3 .hp-3-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}

.hp-3 .hp-3-CTA .hp-3-CTA-text {
  font-size: 3vmin;
  color: white;
  padding: 0 10px;
}

.hp-3 .hp-3-CTA .hp-3-CTA-btn {
  font-size: 3vmin;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
}

.signin-main .signup {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8c8c8;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.signin-main .signup .signup-title {
  font-size: 4vmin;
  font-weight: 700;
  padding: 10px 0;
}

.signin-main .signup label {
  width: 100%;
  padding: 10px 0;
}

.signin-main .signup label p {
  font-size: 2.5vmin;
}

.signin-main .signup label input {
  font-size: 2.5vmin;
  padding: 10px;
  width: 100%;
  color: white;
  border-style: none;
  background-color: #c8c8c8;
  border-bottom: 1px solid white;
}

.signin-main .signup label input:focus {
  outline: none;
}

.signin-main .signup .signup-btn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 2.5vmin;
  margin: 10px;
}

.signin-main .signup .signup-change {
  font-size: 2.5vmin;
}

.signin-main .signup-hide {
  display: none;
}

.signin-main .signin {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8c8c8;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.signin-main .signin .signin-title {
  font-size: 4vmin;
  font-weight: 700;
  padding: 10px 0;
}

.signin-main .signin label {
  width: 100%;
  padding: 10px 0;
}

.signin-main .signin label p {
  font-size: 2.5vmin;
}

.signin-main .signin label input {
  font-size: 2.5vmin;
  padding: 10px;
  width: 100%;
  color: white;
  border-style: none;
  background-color: #c8c8c8;
  border-bottom: 1px solid white;
}

.signin-main .signin label input:focus {
  outline: none;
}

.signin-main .signin .signin-btn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 2.5vmin;
  margin: 10px;
}

.signin-main .signin .signin-change {
  font-size: 2.5vmin;
}

.signin-main .signin-hide {
  display: none;
}

.personal-info-main form {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d5d5d5;
}

.personal-info-main form .personal-photo-name {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.personal-info-main form .personal-photo-name .personal-img-upload {
  width: 30%;
  position: relative;
}

.personal-info-main form .personal-photo-name .personal-img-upload img {
  background: grey;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.personal-info-main form .personal-photo-name .personal-img-upload label {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  padding: 5px;
  background: white;
  border: 1px solid black;
}

.personal-info-main form .personal-photo-name .personal-img-upload label input {
  display: none;
}

.personal-info-main form .personal-photo-name .personal-name-info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.personal-info-main form .personal-photo-name .personal-name-info label {
  padding: 5px;
}

.personal-info-main form .personal-photo-name .personal-name-info label input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.personal-info-main form .personal-outlink {
  border: 1px solid black;
  width: 80%;
}

.personal-info-main form .personal-outlink div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.personal-info-main form .personal-outlink div img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.personal-info-main form .personal-outlink div input {
  width: 100%;
  padding: 10px;
}

.personal-info-main form .personal-intro {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}

.personal-info-main form .personal-intro textarea {
  width: 100%;
  aspect-ratio: 4/1;
  resize: none;
  padding: 10px;
}

.personal-info-main form .personal-keyword {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}

.personal-info-main form .personal-keyword .tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info-main form .personal-keyword .tags-box .tag {
  background: gray;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

.personal-info-main form .personal-keyword .tags-box .tag .tag-delete {
  background: #dedede;
  color: black;
  font-size: small;
  width: 20px;
  aspect-ratio: 1/1;
  padding: 2px;
  margin: 2px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.personal-info-main form .personal-keyword .tags-box input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  border-style: none;
}

.personal-info-main form .personal-share-theme {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
}

.personal-info-main form .personal-share-theme .share-theme-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme {
  width: 33%;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme .share-title-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme .share-title-box p {
  background: grey;
  padding: 10px;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme .share-title-box input {
  width: 100%;
  padding: 10px;
}

.personal-info-main form .personal-share-theme .share-theme-box .share-theme textarea {
  width: 100%;
  aspect-ratio: 2/1;
  padding: 10px;
  resize: none;
  margin: 10px 0;
}

.personal-info-main form .personal-share-theme .share-theme-box .personal-share2 {
  margin: 0 20px;
}

.personal-info-main form .personal-project {
  border: 1px solid black;
  width: 80%;
  padding: 10px;
}

.personal-info-main form .personal-project .project {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.personal-info-main form .personal-project .project .image-type-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload {
  width: 30%;
  aspect-ratio: 3/2;
  position: relative;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload img {
  height: 100%;
  width: 100%;
  background: white;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  cursor: point;
  border: 1px solid black;
  background: #dddddd;
}

.personal-info-main form .personal-project .project .image-type-box .pj-image-upload label input {
  display: none;
}

.personal-info-main form .personal-project .project .image-type-box .type-discript-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 0 0 0 10px;
}

.personal-info-main form .personal-project .project .image-type-box .type-discript-box select {
  padding: 10px;
  width: 100%;
}

.personal-info-main form .personal-project .project .image-type-box .type-discript-box textarea {
  padding: 10px;
  margin: 10px 0;
  resize: none;
  height: 100%;
}

.personal-info-main form .personal-project .project .project-link {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.membership-main .membership-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
}

.membership-main .membership-box .navigation {
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid black;
}

.membership-main .membership-box .personal-data {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.membership-main .membership-box .personal-data .personal-left {
  width: 75%;
  margin-right: 2.5%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.membership-main .membership-box .personal-data .personal-left .headshot-box {
  width: 25%;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 50%;
  overflow: hidden;
}

.membership-main .membership-box .personal-data .personal-left .headshot-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.membership-main .membership-box .personal-data .personal-left .personal-basic-link {
  width: 70%;
  margin-left: 5%;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.membership-main .membership-box .personal-data .personal-left .personal-basic-link p {
  font-size: 5vmin;
  font-weight: 700;
  padding: 5px 0;
}

.membership-main .membership-box .personal-data .personal-left .personal-basic-link .link-box {
  padding: 5px 0;
}

.membership-main .membership-box .personal-data .personal-left .personal-basic-link .link-box img {
  width: 40px;
  aspect-ratio: 1/1;
  margin-right: 10px;
}

.membership-main .membership-box .personal-data .personal-left .intro-box {
  width: 100%;
  padding: 20px 0;
}

.membership-main .membership-box .personal-data .personal-left .intro-box .intro-title {
  font-size: 3.5vmin;
  font-weight: 700;
}

.membership-main .membership-box .personal-data .personal-left .intro-box .intro-content-box {
  width: 100%;
  background: white;
  padding: 10px;
}

.membership-main .membership-box .personal-data .personal-left .tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.membership-main .membership-box .personal-data .personal-left .tag-box .tag {
  padding: 5px;
  margin: 2.5px 10px 2.5px 0;
  background: #a4a4a4;
  border-radius: 10px;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box {
  padding: 10px 0;
  width: 100%;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box .share-title {
  font-size: 3.5vmin;
  font-weight: 700;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box .share-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box .share-box .share {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid black;
  background: white;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box .share-box .share span {
  width: 15%;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box .share-box .share .share-short-title {
  border: 1px solid black;
  width: 85%;
  padding: 10px;
}

.membership-main .membership-box .personal-data .personal-left .share-theme-box .share-box .share .share-content {
  padding: 10px;
}

.membership-main .membership-box .personal-data .personal-right {
  width: 22.5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.membership-main .membership-box .personal-data .personal-right form {
  padding: 10px;
}

.membership-main .membership-box .personal-data .personal-right form button {
  width: 100%;
  padding: 10px;
  font-size: 2.5vmin;
  font-weight: 700;
}

.membership-main .membership-box .personal-data .personal-right form .ask-rule-box {
  padding: 10px 0;
}

.membership-main .membership-box .personal-data .personal-right form .ask-rule-box .ask-rule-title {
  font-size: 2.5vmin;
  font-weight: 700;
}

.membership-main .membership-box .personal-data .personal-bottom {
  width: 100%;
  padding: 20px;
  border-top: 2px solid black;
}

.membership-main .membership-box .personal-data .personal-bottom .know-more-title {
  font-size: 3.5vmin;
  font-weight: 700;
}

.membership-main .membership-box .personal-data .personal-bottom .project-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.membership-main .membership-box .personal-data .personal-bottom .project-box .project {
  width: 33%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.membership-main .membership-box .personal-data .personal-bottom .project-box .project img {
  width: 95%;
  aspect-ratio: 3/2;
  background: white;
}

.membership-main .membership-box .personal-data .personal-bottom .project-box .project .project-type {
  font-weight: 700;
  width: 95%;
}

.membership-main .membership-box .personal-data .personal-bottom .project-box .project .project-content {
  width: 95%;
  padding: 10px 0;
}

.membership-main .membership-box .personal-data .personal-bottom .project-box .project a {
  width: 95%;
  background: black;
  color: white;
  padding: 10px;
}

.ask-main .bar {
  width: 100%;
  height: 3px;
  background: black;
}

.ask-main form {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ask-main form .ask-consultant-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding: 30px 0;
}

.ask-main form .ask-consultant-box .ask-headshot {
  width: 150px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  background: grey;
  border-radius: 50%;
}

.ask-main form .ask-consultant-box .ask-welcome {
  font-size: 5vmin;
  padding-left: 30px;
}

.ask-main form .ask-consultation-box {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.ask-main form .ask-consultation-box .ask-notification {
  font-size: 3.5vmin;
}

.ask-main form .ask-consultation-box .ask-information-box {
  padding: 30px 0;
}

.ask-main form .ask-consultation-box .ask-information-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.ask-main form .ask-consultation-box .ask-information-box div img {
  width: 30px;
  height: 30px;
}

.ask-main form .ask-consultation-box .ask-information-box div p {
  font-size: 3.5vmin;
  font-weight: 700;
  padding-left: 5px;
}

.ask-main form .ask-consultation-box .ask-information-box textarea {
  width: 100%;
  resize: none;
  font-size: 20px;
  padding: 15px;
}

.ask-main form .ask-consultation-box .ask-question-box {
  padding: 30px 0;
}

.ask-main form .ask-consultation-box .ask-question-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.ask-main form .ask-consultation-box .ask-question-box div img {
  width: 30px;
  height: 30px;
}

.ask-main form .ask-consultation-box .ask-question-box div p {
  font-size: 3.5vmin;
  font-weight: 700;
  padding-left: 5px;
}

.ask-main form .ask-consultation-box .ask-question-box textarea {
  width: 100%;
  resize: none;
  font-size: 20px;
  padding: 15px;
}

.ask-main form .ask-payment-box {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}

.ask-main form .ask-payment-box .ask-notification {
  font-size: 3.5vmin;
  text-align: center;
}

.ask-main form .ask-payment-box .ask-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ask-main form .ask-payment-box .ask-payment label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ask-main form .ask-payment-box .ask-payment label .item {
  width: 20%;
}

.ask-main form .ask-payment-box .ask-payment label .tpfield {
  height: 40px;
  width: 80%;
  border: 1px solid gray;
  margin: 5px 0;
  padding: 5px;
}

.ask-main form .ask-payment-box .ask-payment input {
  font-size: 20px;
  padding: 15px;
  margin: 10px 0;
}

.ask-main form button {
  width: 80%;
  font-size: 3vmin;
  padding: 10px;
  background: black;
  color: aliceblue;
}

.thankyou-main .thankyou-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.thankyou-main .thankyou-box img {
  width: 200px;
}

.thankyou-main .thankyou-box .thankyou-right {
  font-size: 3.5vmin;
}

.thankyou-main .thankyou-box .thankyou-right .thankyou-right-buttons {
  font-size: 3vmin;
  padding: 10px 0;
}

.thankyou-main .thankyou-box .thankyou-right .thankyou-right-buttons a {
  margin-right: 10px;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.inxbox-main .inbox-box {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inxbox-main .inbox-box .inbox-left {
  width: 30%;
  border: 1px solid black;
  overflow: auto;
}

.inxbox-main .inbox-box .inbox-left .inbox-left-title {
  font-size: 3vmin;
  background: grey;
  padding: 5px;
}

.inxbox-main .inbox-box .inbox-left .inbox-left-list {
  height: 75vh;
  background: #c4c4e4;
  overflow: auto;
}

.inxbox-main .inbox-box .inbox-left .inbox-left-list a p {
  padding: 30px 10px;
  border-bottom: 1px black solid;
}

.inxbox-main .inbox-box .inbox-right {
  width: 70%;
  border: 1px solid black;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-title {
  font-size: 3vmin;
  background: grey;
  padding: 5px;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent {
  width: 100%;
  height: 70vh;
  background: #ddf4dd;
  overflow: auto;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent .receive-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent .receive-box .receive-content {
  font-size: 2vmin;
  background: #d7b9b9;
  padding: 10px;
  border-radius: 10px;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent .receive-box .receive-blank {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent .send-box {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent .send-box .send-content {
  font-size: 2vmin;
  background: #cecece;
  padding: 10px;
  border-radius: 10px;
}

.inxbox-main .inbox-box .inbox-right .inbox-right-conetent .send-box .send-blank {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inxbox-main .inbox-box .inbox-right .inbox-reply-box {
  width: 100%;
  font-size: 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inxbox-main .inbox-box .inbox-right .inbox-reply-box textarea {
  width: 90%;
  padding: 10px;
  resize: none;
}

.inxbox-main .inbox-box .inbox-right .inbox-reply-box button {
  width: 10%;
  padding: 10px;
}
